<form action='/save_patient'>
Patient Details<br>
Name    : <input type="string" name="p_name"><br>
Address : 
<textarea rows="4" cols="25"
<input type="text" name="p_adr"></textarea><br>
Age     : <input type="integer" name="p_age"><br>
Sex     : <input type="string" name="p_sex>"><br>
<input type="submit">
</form>