<form action='/d_f_save'>
Enter Doctor Details<br>
<br>
Name     : <input type="string" name="d_name"><br>
<br>
Category : <input type="string" name="d_category"><br>
<br>
Specialisation : <input type="string" name="d_specialist"><br>
<br>
Lady doctor? : <input type="boolean" name="d_lady_doctor"><br>
<br>
<input type="submit"><br>
</form>
